<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Your Gym</title>
    <header>Welcome to Your Gym</header>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/classes">View Classes</a></li>
                <li><a href="/bookings/new">Book Class</a></li>
            </ul>
        </nav>
    </header>
    {% block content %} 




    {% endblock %}
</body>
</html>